<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>My App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

  <header class="masthead mb-auto">
    <div class="inner">
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link {{'active' if request.path == '/'}}" href="/"> <i data-feather="home"></i> Home</a>
        <a class="nav-link {{'active' if request.path == '/posts'}}" href="{{ url_for('posts_index') }}"> <i data-feather="list"></i> List posts</a>
        <a class="nav-link {{'active' if request.path == '/posts/new/'}}" href="{{ url_for('post_form') }}"> <i data-feather="file-plus"></i> Add a post</a>
        <a class="nav-link {{'active' if request.path == '/signup'}}" href="{{ url_for('auth_create') }}"> <i data-feather="smile"></i> Create an account</a>
        {% if current_user.is_authenticated %}
        <p class ="nav-link">
          Signed in as user {{ current_user.name }}. <a href="{{ url_for('auth_logout') }}">Sign out</a>
        </p>
        {% else %}
        <a class="nav-link {{'active' if request.path == '/auth/login'}}" href="{{ url_for('auth_login') }}"><i data-feather="log-in"></i> Log in</a>
        {% endif %}
    </div>
  </header>

  {% block body %}
  <p>
    Content.
  </p>
  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/feather-icons"></script>
  <script>
    feather.replace()
  </script>
</body>

</html>