{% extends "layout.html" %}
{% set active_page = "listp" %}

{% block body %}
<div class="container" style="margin-top: 5rem">

    {% if current_user.is_authenticated %}
    <!-- Post creation form with error handlers -->
    <form method="POST" action="{{ url_for('posts_index') }}">
        {% if form.content.errors %}
        <ul class="errors" style="color: red; list-style: none;">
            {% for error in form.content.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if form.content.data %}
        <textarea id="content" name="content" class="form-control" placeholder="Tell us something new!" required
            autofocus>{{form.content.data}}</textarea>
        {% else %}
        <textarea id="content" name="content" class="form-control" placeholder="Tell us something new!" required
            autofocus></textarea>
        {% endif %}
        <button class="btn  btn-primary text-uppercase center" type="submit"> Post </button>
    </form>
    <!-- End of form -->
    {% endif %}

    <ul style="list-style: none">
        {% for post in posts %}
        <li>
            <div style="padding:0.5rem">
                <div class="row">
                    <div class="col-9">
                            <a href="{{ url_for('user_page',user_id = post.account.id)}}"> <h5>{{post.account.name}}: </h5> </a>
                    </div>
                    <div class="col-3">
                        {%if post.date_modified != post.date_created %}
                        <p> (edited) {{post.date_modified}}</p>
                        {% else %}
                        {{post.date_modified}}
                        {% endif %}
                    </div>
                </div>
                <p>{{ post.content }}</p>



                {% if current_user.name == post.account.name %}
                <a class="badge badge-primary badge-pill" href="{{ url_for('post_specific', post_id=post.id)}}"><i
                        data-feather="edit"></i></a>
                {% endif %}
                <a class="badge badge-primary badge-pill" href="{{ url_for('post_specific', post_id=post.id)}}"><i
                        data-feather="message-square"></i>{{post.comments | length}}</a>
                <!-- mockup for like counter/like button-->
                <a class="badge badge-primary badge-pill" href="#"><i data-feather="thumbs-up"></i>15</a>
                <span class="badge badge-light badge-pill"><i data-feather="thumbs-up"></i>15</span>

            </div>

        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}