{% extends "layout.html" %}

{% block body %}
<div class="container" style="margin-top: 5rem">
    {% if current_user.is_authenticated %}
    <form method="POST" action="{{ url_for('post_create') }}">
        <textarea id="content" name="content" class="form-control" placeholder="Tell us something new!" required
            autofocus></textarea>
        <button class="btn  btn-primary text-uppercase center" type="submit"> Post </button>
    </form>
    {% endif %}

    <ul style="list-style: none">
        {% for post in posts %}
        <li>
            <div style="padding:0.5rem">
                <div class="row">
                    <div class="col-6">
                        <h5>{{post.account.name}}: </h5>
                    </div>
                    <div class="col-6">
                        {{post.date_modified}}
                    </div>
                </div>
                <p>{{ post.content }}</p>


                <!-- mockup for like counter/like button-->
                {% if current_user.name == post.account.name %}
                <a class="badge badge-primary badge-pill" href="{{ url_for('post_specific', post_id=post.id)}}"><i
                        data-feather="edit"></i></a>
                {% endif %}
                <a class="badge badge-primary badge-pill" href="{{ url_for('post_specific', post_id=post.id)}}"><i
                        data-feather="message-square"></i>37</a>
                <a class="badge badge-primary badge-pill" href="#"><i data-feather="thumbs-up"></i>15</a>
                <span class="badge badge-light badge-pill"><i data-feather="thumbs-up"></i>15</span>

            </div>

        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}