{% extends "layout.html" %}

{% block body %}
<div class="contaier">
    <div class="row">
        <div class="col-5 mx-auto justify-content-center align-self-center">
            <br />
            <div class="card card-signin" style="background-color: lightgray">

                <div class="card-body">
                    <h5 class="card-title text-center">Create account</h5>
                    <form class="form-signin center" method="POST" action="{{ url_for('auth_create') }}">
                        <div class="form-label-group">
                            {% if form.name.data %}
                            <input type="text" id="name" name="name" class="form-control" placeholder="Name" value="{{form.name.data}}" required>    
                            {% else %}
                                <input type="text" id="name" name="name" class="form-control" placeholder="Name" required
                                autofocus>
                            {% endif %}                   
                        </div>
                        <br />
                        <div class="form-label-group">
                            {% if form.username.data %}
                            <input type="text" id="username" name="username" class="form-control" value="{{form.username.data}}" placeholder="Username"
                                required>
                            {% else %}
                            <input type="text" id="username" name="username" class="form-control" placeholder="Username"
                                required>
                            {% endif %}
                        </div>
                        <br />
                        <div class="form-label-group">
                            <input type="password" id="password" name="password" class="form-control"
                                placeholder="Password" required>
                        </div>
                        <br />
                        <div class="form-label-group">
                            <input type="password" id="password2" name="password2" class="form-control"
                                placeholder="Confirm password" required>
                        </div>
                        <br />
                        <button class="btn btn-block btn-primary text-uppercase center" type="submit"> Sign up</button>
                        <div style="color:red">
                            <ul>

                            </ul>
                        </div>
                    </form>
                    <div style="color:red">
                        <ul style="list-style: none">
                            {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                            {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                            {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                            {% for error in form.password2.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}